<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoito da Sorte</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <style>
        body{
            background-color: aquamarine;
        }
    </style>
</head>

<body>

    <main>
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4 logo" src="../app/public/img/risada.png" alt="">
            <h1 class="display-5 fw-bold">Piadas sensacionais</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4"> 'Por que a velhinha não usa relógio? Porque ela é sem hora (senhora)'  </p>
                <v class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Conseguir piada</button></a>
                </div>
            </div>
        </div>
    </main>

</body>

</html>